<h2>Países</h2>
<hr />
<ul class="list-group">
  <!-- <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item"
  >
    Home Page
  </li>
  <li routerLinkActive="active" routerLink="about" class="list-group-item">
    About
  </li>
  <li routerLinkActive="active" routerLink="contact" class="list-group-item">
    Contact Page
  </li> -->
  <li routerLinkActive="active" routerLink="countries/by-capital" class="list-group-item">
    Por capital
  </li>
  <li routerLinkActive="active" routerLink="countries/by-country" class="list-group-item">
    Por país
  </li>
  <li routerLinkActive="active" routerLink="countries/by-region" class="list-group-item">
    Por región
  </li>
</ul>
