<h2>Por capital</h2>
<hr />
<div class="row">
  <div class="col">
    <shared-search-box
     placeholder="Buscar por capital"
    (onValue)="searchByCapital($event)"
     ></shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col">tabla de resultados</div>
</div>
<!--
desde bycapitalpage cuando se apriete enter en el buscador
se va a disparar un evento (onValue)="searchByCapital($event)" output

ensearchBoxComponent referencia #txtInput 
soltar enter, ejecutar todo y ver en consola el mensaje escrito

-->